/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4/cache.db
.aider.tags.cache.v4/cache.db-shm
.aider.tags.cache.v4/cache.db-wal
qa_testing.md
